version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  selenium:
    image: selenium/standalone-chrome:latest
    container_name: selenium
    shm_size: "2g"
    ports:
      - "4444:4444"

  worker:
    build: .
    container_name: celery_worker
    command: celery -A tasks worker --loglevel=info
    depends_on:
      - redis
      - selenium
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - SELENIUM_HOST=selenium
